.ant-modal-header {
  border: none;
  border-radius: 8px;
}
.ant-modal-content {
  border-radius: 8px;
}
.ant-btn {
  border-radius: 6px;
}
.ant-select-selector {
  border-radius: 6px !important;
}
.ant-input {
  border-radius: 6px;
}

.ant-input-number {
  overflow: hidden;
}
.ace-tomorrow {
  height: 100% !important;
}
.ant-input-password {
  border-radius: 6px;
}
