.tugraph-filter-panel {
  padding: 10px;

  .tugraph-filter-panel-criteria-container {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    margin-top: 15px;

    .tugraph-filter-panel-group {
      padding: 8px;
      border-radius: 4px;
      box-shadow: var(--box-shadow-light, 0 0 4px #ddd);

      .tugraph-filter-panel-prop {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .tugraph-filter-panel-recommend-tip {
        color: #aaa;
        font-size: 10px;
      }
    }
  }
}

.img {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}
