@focus: #1650ff;
@hover: #f5f5f5;
.ant-input,
.ant-select-selector,
.ant-btn-dashed {
  border-radius: 6px !important;
}
.ant-steps .ant-steps-item-process .ant-steps-item-icon,
.ant-btn-dashed:hover,
.ant-btn-dashed:focus {
  color: @focus !important;
  border-color: @focus !important;
}

.ant-input:hover,
.ant-input:focus,
.ant-dropdown-link,
.ant-dropdown-link:focus,
.ant-dropdown-link:hover,
.ant-select-selector:focus,
.ant-select-selector:hover {
  border-color: @focus !important;
}
.monaco-editor .line-numbers {
  color: rgba(106, 106, 112, 0.6) !important;
}
.ant-segmented-item-input {
  border-radius: 4px !important;
}
.ant-btn-primary,
.ant-switch-checked {
  background-color: @focus !important;
}
.popoverTitle {
  .ant-popover-title {
    padding-top: 12px;
    padding-bottom: 0;
  }
}
.ant-segmented,
.ant-segmented-group,
.ant-segmented-item {
  border-radius: 6px !important;
  overflow: hidden;
}

.ant-menu-item-selected {
  color: @focus !important;
}
