@focus: #1650ff;
@hover: #f5f5f5;
#TUGRAPH_DB_BROWSER {
  .ant-upload,
  .ant-input,
  .ant-select-selector,
  .ant-input-affix-wrapper,
  .ant-btn,
  textarea .ant-input,
  .ant-input-number-group,
  .ant-modal-content,
  .ant-btn-dashed {
    border-radius: 6px;
    overflow: hidden;
  }
  .ant-steps-item-finish .ant-steps-item-icon,
  .ant-input-affix-wrapper-focused,
  .ant-pagination-item-active,
  .ant-select-focused,
  .ant-select-focused:not(.ant-select-disabled).ant-select:not(
      .ant-select-customize-input
    )
    .ant-select-selector {
    border-color: @focus;
  }
  .ant-steps-item-finish
    > .ant-steps-item-container
    > .ant-steps-item-content
    > .ant-steps-item-title::after {
    background-color: @focus;
  }
  .ant-input-affix-wrapper:hover,
  .ant-input-affix-wrapper:focus,
  .ant-btn:hover,
  .ant-btn:focus,
  textarea .ant-input:hover,
  textarea .ant-input:focus,
  .ant-steps .ant-steps-item-process .ant-steps-item-icon,
  .ant-pagination-item-active,
  .ant-btn-dashed:hover,
  .ant-btn-dashed:focus {
    color: @focus;
    border-color: @focus;
  }
  .ant-btn-link:hover,
  .ant-btn-link:focus,
  .ant-upload:hover,
  .ant-upload:focus,
  .ant-input:hover,
  .ant-input:focus,
  .ant-dropdown-link,
  .ant-dropdown-link:focus,
  .ant-dropdown-link:hover,
  .ant-select:focus,
  .ant-input-number-focused,
  .ant-select:not(.ant-select-disabled):hover .ant-select-selector,
  .ant-select:hover {
    border-color: @focus;
  }
  .ant-btn-primary,
  .ant-btn-primary:focus,
  .ant-btn-primary:hover {
    color: #fff;
    background-color: @focus;
  }
  .monaco-editor .line-numbers {
    color: rgba(106, 106, 112, 0.6);
    text-align: center;
  }
  .ant-segmented-item-input,
  .ant-pagination-item,
  .ant-pagination-item-active {
    border-radius: 4px;
  }
  .ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-icon,
  .ant-switch-checked {
    background-color: @focus;
  }
  .popoverTitle {
    .ant-popover-title {
      padding-top: 16px;
      padding-bottom: 0;
    }
  }
  .ant-segmented,
  .ant-segmented-group,
  .ant-segmented-item {
    border-radius: 6px;
    overflow: hidden;
  }
  .ant-btn-link,
  .ant-menu-item-selected,
  .ant-pagination-item-active a,
  .ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon {
    color: @focus;
  }

  .ant-input-number {
    border-radius: 6px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .ant-input-number-group-addon {
    border-radius: 6px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .ant-input[disabled],
  .ant-input[disabled]:hover,
  .ant-input[disabled]:focus,
  .ant-input[disabled]:active,
  .ant-select[disabled],
  .ant-select[disabled]:hover,
  .ant-select[disabled]:focus,
  .ant-select[disabled]:active,
  .ant-select-disabled,
  .ant-select-disabled:focus,
  .ant-select-disabled:hover,
  .ant-btn[disabled],
  .ant-btn[disabled]:hover,
  .ant-btn[disabled]:focus,
  .ant-btn[disabled]:active {
    color: rgba(0, 0, 0, 0.25);
    border-color: #d9d9d9;
    background: #f5f5f5;
    text-shadow: none;
    box-shadow: none;
  }

  .ant-select-disabled
    .ant-select:not(.ant-select-customize-input)
    .ant-select-selector {
    color: rgba(0, 0, 0, 0.25);
    background: #f5f5f5;
    cursor: not-allowed;
  }
  .gi-rich-container .gi-rich-container-toolbar .toolbar-item .ant-btn-primary {
    background-color: #fff;
    border-color: #fff;
    color: rgb(106, 107, 113);
  }
  .ant-space-item {
    display: flex;
  }
}
