@perfix-cls: ant-tugraph;
.@{perfix-cls}-permissions{
  &-btn {
    padding: 4px;
  }
  &-permissions {
    display: flex;
    align-items: center;
  }
  &-dot {
    font-weight: 400;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.45);
    margin: 0 16px 0 4px;
  }
}
.@{perfix-cls}-permissions-tr{
  display: inline-block;
  // width: 110px;
  // display: inline-block;
  // white-space: nowrap;
  // overflow: hidden;
  // text-overflow: ellipsis;
}
